.ideal-car {
  padding-left: 8px;
  font-weight: 500;
  font-family: Ubuntu, Open Sans, Segoe UI, Tahoma, sans-serif;
}

.label {
  font-family: Open Sans, Segoe UI, Tahoma, sans-serif;
  font-weight: 500;
  line-height: 2rem;
  display: inherit;
  color: #444;
  padding-left: 8px;
}

.search-section {
  background-color: #f3ce56;
  width: 100%;
  min-width: 320px;
  text-align: center;
}

.search {
  height: 48px;
  width: 90%;
  font-size: 1rem;
  border-color: #c8ae5b;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  padding: 8px 8px;
  font-weight: 400;
  line-height: 1.5rem;
}

.search-item {
  height: 48px;
  font-size: 1rem;
  border: 1px solid #a4a4a4;
  border-radius: 4px;
  padding: 8px 8px;
  font-weight: 400;
  cursor: pointer;
  background-color: white;
}

.search-list {
  position: absolute;
  list-style-type: none;
  margin: 0;
  background-color: #c8ae5b;
}

.form {
  max-width: 630px;
  z-index: 1;
  background-color: #f3ce56;
  position: absolute;
  top: 18vh;
  height: 60vh;
}

ul {
  list-style-type: none;
  justify-content: center;
  display: table;
  padding-inline-start: 0;
  width: 95%;
  padding-left: 8px;
  text-align: left;
  margin: 0;
}

.search-item:hover {
  background-color: #e7f4fe;
}

@media only screen and (max-width: 600px) {
  .form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 85px;
    width: 100%;
  }
}

@media only screen and (min-width: 750px) {
  .ideal-car {
    padding-left: 25px;
    padding-top: 30px;
    font-size: 30px;
  }

  .form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 16vh;
    width: 70vmin;
  }

  .label {
    padding-left: 25px;
    padding-bottom: 10px;
  }

  ul {
    padding-left: 20px;
    width: 93%;
  }
}
